<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- CSS Bootstrap-4 -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- CSS Font-Awsome -->
    <link rel="stylesheet" href="../font/fontawesome/css/all.min.css">
    <!-- CSS Owl-Carousel -->
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

</head>

<body>
    <!-- You Code Here !!! -->












    <!-- JS Bootstrap-4 -->
    <script src="../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- JS Owl-Carousel -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <!-- My JS -->
    <script src="../js/main.js"></script>
</body>

</html>